<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font dependencies -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Recipe Roulette - What Should I Make Tonight?</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>